.gl-filtered-search-scrollable-container {
  @include gl-bg-white;
  @include gl-inset-border-1-gray-400;
  @include gl-rounded-left-base;
  position: relative;
  flex-grow: 1;
}

.gl-filtered-search-scrollable {
  @include gl-display-flex;
  @include gl-flex-grow-1;
  @include gl-flex-basis-0;
  @include gl-align-items-center;
  @include gl-py-2;
  @include gl-pl-4;
  @include gl-border-none;
  @include gl-rounded-left-base;
  position: absolute;
  max-width: calc(100% - $gl-spacing-scale-7);
  overflow: hidden;
  overflow-x: auto;

  // prevent overlapping with left border
  left: $gl-border-size-1;
  @include gl-display-flex;
}

.gl-filtered-search-item {
  @include gl-display-flex;
  @include gl-px-1;

  &:first-child {
    @include gl-pl-0;
  }
}

.gl-filtered-search-last-item {
  .gl-filtered-search-term-value {
    @include gl-h-full;
    @include gl-w-full;
    @include gl-align-items-center;
  }

  @include gl-flex-grow-1;
  @include gl-p-0;
  @include gl-pl-1;
  @include gl-h-6;
  min-width: $gl-spacing-scale-12;
}
